@import './styles/map-view.css';
@import './styles/lateral-bar.css';
@import './styles/timeline.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
}

.v-application {
  background: var(--v-theme-background) !important;
}

